<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting:</strong>
  <%= @raport.meeting_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @raport.name %>
</p>

<p>
  <strong>Module:</strong>
  <%= @raport.module %>
</p>

<p>
  <strong>This week work:</strong>
  <%= @raport.this_week_work %>
</p>

<p>
  <strong>Need help:</strong>
  <%= @raport.need_help %>
</p>

<p>
  <strong>Next week work:</strong>
  <%= @raport.next_week_work %>
</p>

<p>
  <strong>Share tech:</strong>
  <%= @raport.share_tech %>
</p>

<%= link_to 'Edit', edit_raport_path(@raport) %> |
<%= link_to 'Back', raports_path %>
